.con{
    display: -webkit-flex;
    background-color: #0000cc;
    width: 800px;
    margin: auto;
}

.first{
    background-color: #00FF40;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-flex: 3;
    height: 200px;
    -webkit-order:2;
}

.secont{
    background-color: #027F80;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-flex: 2;
    height: 200px;
    -webkit-order:3;
}

.three{
    background-color: #b6b6b6;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-flex: 1;
    height: 200px;
    -webkit-order:1;
    -moz-order:1;
}

.span1{
    color: #666666;
    font-size: 20px;
}

.span2{
    color: aqua;
    font-size: 50px;
}

.span3{
    color: chocolate;
    font-size: 10px;
}

.con1{
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-rule: 2px solid orange;
    -webkit-column-rule: 2px solid orange;
    -moz-column-rule: 2px solid orange;
    column-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    width: 800px;
    background-color: #666666;
    padding: 10px;
}
